/*
 define all rules in MOBILE (1st segment)
 if needed add rules to other media rules.
*/

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.proper-case {
	text-transform: capitalize !important;
}

.w-100{
	width:100% !important;
}

.cc-event,
.fc-agenda .cc-event .fc-event-time,
.cc-event a {
    background-color: #2eb82e !important;
    border-color: #2eb82e !important;
    color: black !important;
    font-weight: bold !important;
}

.util-event ,
.fc-agenda .util-event .fc-event-time,
.util-event  a {
    background-color: #ff6384 !important;
    border-color: #ff6384 !important;
    color: black !important;
    font-weight: bold !important;
}

.trnspt-event,
.fc-agenda .trnspt-event .fc-event-time,
.trnspt-event a {
    background-color: #36a2eb !important;
    border-color: #36a2eb !important;
    color: black !important;
    font-weight: bold !important;
}

.food-event,
.fc-agenda .food-event .fc-event-time,
.food-event a {
    background-color: #ffcc00 !important;
    border-color: #ffcc00 !important;
    color: black !important;
    font-weight: bold !important;
}

#addEventPanelContainer{
	display:none;
	margin-top:10px;	
}
  		
/* Tablet targetted size */
@media screen and (min-width:768px) and (max-width:1024px) {
  
}

/* Desktop size */
@media screen and (min-width:1025px) {

}

